<template>
  <header>
    <div>
      <h1 class="hola">Título Web Vue</h1>
    </div>
    Variable oculta = {{ variableOculta }} <br>
    Nombre = {{ nombre }}<br>
    Con expresiones = {{ nombre.toUpperCase() + " " + (3*2)}}

  
  </header>
</template>

<script>
export default {
  data(){
    return {
      variableOculta: "Variable Oculta",
      nombre: "Chicho Terremoto"
    }
  }
};
</script>

<style>
</style>