<template>
  <div id="app">
    <!-- Este es el CompHeader que lo llamamos como nos da la gana-->
    <CompoChinoTerremoto />

    <img alt="Vue logo" src="./assets/logo.png" />
    <HolaComp msg="Bienvenido a tu Vue.js App" />

    <br />
    <h2>Listado de Heroes</h2>
    <ul style=list-style:none>
      <li v-for="heroe in arrayHeroes" :key="heroe.id">
        {{ heroe.id}} -- {{ heroe.nombre }}
      </li>
    </ul>
  </div>
</template>

<script>
import HolaComp from "./components/HolaMundo.vue";
// Este es el CompHeader que lo llamamos como nos da la gana
import CompoChinoTerremoto from "./components/CompHeader.vue";

export default {
  name: "App",
  components: {
    HolaComp,
    CompoChinoTerremoto,
  },
  data() {
    return {
      arrayHeroes: [],
    };
  },
  beforeCreate() {
    let prometemeHeroes = fetch("http://localhost:8080/api/heroes/listado");

    prometemeHeroes
      .then((respuestaHttp) => {
        return respuestaHttp.json();
      })
      .then((data) => {
        //console.log("Datos", data);
        this.arrayHeroes = data;
      });
  },
};
</script>

<style lang="scss">
@import "./assets/estilo.css";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
